@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Belleza&family=Gilda+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arapey", "Belleza", "Rubik", "Roboto";
  font-size: 18px;
  word-spacing: 3px;
}

body {
  background-color: #413543;
  color: white;
}

@keyframes move-text {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.animated-text {
  font-size: inherit;
}
.animated-text span {
  opacity: 0;
  animation: move-text 0.4s forwards;
  font-size: inherit;
}

.app-container {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #413543;
  padding-left: 35%;
}
@media (max-width: 768px) {
  .app-container {
    padding-left: 0%;
  }
}
.app-container .hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 35%;
  height: 100vh;
}
.app-container .hero h3, .app-container .hero p {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8em;
  color: #F0EB8D;
  font-weight: 900;
}
.app-container .hero p {
  font-size: medium;
  top: 75%;
  font-weight: 600;
}
.app-container .hero .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.app-container .hero .navbar img {
  display: block;
  width: 20px;
  height: 20px;
  filter: invert(100%);
}
.app-container .hero .profile-img {
  display: block;
  height: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  .app-container .hero {
    width: 100%;
    height: 80vh;
    position: relative;
  }
  .app-container .hero h3 {
    position: absolute;
    top: 80%;
    left: 50%;
    font-size: 1.32em;
    font-weight: 900;
  }
  .app-container .hero p {
    top: 85%;
    font-weight: 800;
    font-size: 0.8em;
  }
  .app-container .hero .navbar {
    display: none;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .app-container .hero .navbar {
    display: flex;
    flex-direction: column;
    width: 42px;
    position: absolute;
    height: 42%;
    top: 33.3%;
    left: 8px;
    justify-content: space-around;
    align-items: center;
    transform: translate(0%, 0%);
  }
  .app-container .hero .navbar img {
    display: block;
    width: 20px;
    height: 20px;
    filter: invert(100%);
  }
}
.app-container .content {
  padding: 12px;
  width: 100%;
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.app-container .content .about-me {
  margin-top: 0 !important;
  width: 100%;
}
.app-container .content .about-me button {
  display: inline-block;
  margin-bottom: 4px;
  background-color: #8F43EE;
  color: white;
}
.app-container .content .about-me .heading .header {
  display: flex;
  justify-content: space-between;
}
.app-container .content .skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .app-container .content .skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.app-container .content .experience {
  display: flex;
}
.app-container .content .content-box {
  padding: 14px;
  margin-top: 14px;
  border-radius: 8px;
  background-color: #2D2727;
  position: relative;
  transition: all 0.4s ease-in-out;
}
.app-container .content .content-box .heading {
  margin-bottom: 8px;
}
.app-container .content .content-box .heading h2 {
  display: inline-block;
  margin: 0;
  font-size: 1.4em;
  color: #F0EB8D;
}
.app-container .content .content-box .heading button {
  display: inline-block;
  margin-left: 20px;
}
.app-container .content .content-box:hover {
  box-shadow: -3px 5px 19px 0px rgb(143, 67, 238);
}
@media (max-width: 768px) {
  .app-container .content {
    width: 100%;
  }
  .app-container .content .content-box {
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
    font-size: 0.85em;
  }
}

.btn {
  display: inline-block;
  width: 60px;
  border-radius: 5px;
  padding: 4px;
  transition: all ease-in-out 0.4s;
  color: black;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #F0EB8D;
}
.btn:hover {
  background-color: #8F43EE;
  color: white;
}

.hidden-modal {
  transform: translateX(100%);
}

.skill-box {
  display: grid;
  grid-template-columns: 3fr 7fr;
  padding: 6px;
}
@media (max-width: 768px) {
  .skill-box {
    width: 100%;
  }
}

.side-modal {
  position: fixed;
  top: 0;
  left: 35%;
  width: 65%;
  transition: all ease-in-out 0.4s;
  z-index: 1000;
  background: #413543;
  height: 100%;
  overflow: auto;
  margin: 2px;
  padding: 10px;
  border-radius: 10px;
}
.side-modal .close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
}
.side-modal hr {
  border-color: #F0EB8D;
}
@media (max-width: 768px) {
  .side-modal {
    left: 0;
    width: 100%;
  }
}

.skill-bar {
  width: 100%;
  position: relative;
  padding: 5px;
}
.skill-bar .bar-level {
  display: block;
  height: 50%;
  background-color: #8F43EE;
}

.modal {
  padding: 25px;
}
.modal .modal-header {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 8px;
  color: #8F43EE;
}
.modal .modal-description {
  margin-bottom: 8px;
  padding-left: 12px;
}
.modal .modal-details {
  margin-bottom: 12px;
  padding-bottom: 8px;
}
.modal .modal-details .modal-detail-item {
  margin-top: 12px;
  padding: 8px;
}
.modal .modal-details .modal-detail-item .modal-detail-header {
  color: #F0EB8D;
  font-size: 1.5em;
  margin-bottom: 6px;
}
.modal .modal-details .modal-detail-item .modal-detail-points .modal-detail-point {
  margin-left: 12px;
  margin-bottom: 12px;
}
@media (max-width: 768px) {
  .modal {
    padding: 10px;
  }
  .modal .modal-header {
    font-size: 24px;
  }
  .modal .modal-description {
    font-size: 12px;
  }
  .modal .modal-details .modal-detail-item .modal-detail-header {
    font-size: 21px;
  }
}
.modal .modal-icon {
  display: block;
  width: 50px;
  height: 50px;
}
.modal .modal-img {
  width: 100%;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.project-box {
  margin: 14px;
  padding: 16px;
  position: relative;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 2fr 1fr;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  transition: all ease-in-out 0.4s;
  width: 200px;
  height: 120px;
  border-radius: 12px;
  background-color: #8F43EE;
}
.project-box h3, .project-box p {
  align-self: center;
  justify-self: start;
}
.project-box h3 {
  display: inline-block;
  width: 100%;
}
.project-box p {
  font-size: 0.7em;
}
.project-box .description {
  justify-content: center;
  align-items: center;
}
.project-box .more {
  justify-self: center;
  cursor: pointer;
}
.project-box .demo {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.project-box .demo .source-icon {
  height: 20px;
  width: 20px;
  filter: invert(100%);
}
.project-box .tag-pill {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: red;
  transform: translate(-50%, -50%);
  border-radius: 27%;
  padding: 4px;
  font-size: 10px;
}
@media (max-width: 768px) {
  .project-box {
    width: 100%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 0.8em;
    padding: 14px;
  }
}

.contacts .header {
  font-size: 24px;
  margin-bottom: 20px;
}

.certificates {
  margin: 16px;
}
.certificates .certCard {
  background-color: #8F43EE;
  width: 200px;
  padding: 14px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  font-size: 1em;
  gap: 6px;
}
.certificates .certCard .body {
  grid-column: 1/span 3;
  font-size: 0.7em;
}
@media (max-width: 768px) {
  .certificates .certCard {
    width: 100%;
  }
}

.secondary-color {
  color: #8F43EE;
}

.header-color {
  color: #F0EB8D;
}

.mx-b-10 {
  margin-bottom: 10px;
}

.mx-b-8 {
  margin-bottom: 8px;
}

.mx-b-6 {
  margin-bottom: 6px;
}

.mx-b-4 {
  margin-bottom: 4px;
}

.mx-b-2 {
  margin-bottom: 2px;
}/*# sourceMappingURL=index.css.map */